.content-container {
  /* max-width: 1200px; */
  height: 100vh;
  margin-inline: 5rem;
  margin-block: 2rem;
  padding: 1rem;
}

@media (width < 900px) {
  .content-container {
    margin-inline: 3rem;
  }
}

@media (width < 600px) {
  .content-container {
    /* width: 100%; */
    margin-inline: 0;
  }
}